/* Globals BOF */
body{background:url(../images/bg.png) repeat-x;background-color:#E5ECF4;}
#container {width:960px;margin:0 auto;}
a,a visited{color:#888;text-decoration:none;}
/* Globals EOF */
