<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" href="style/reset.css" type="text/css" />
<link rel="stylesheet" href="style/layout.css" type="text/css" />
<link rel="stylesheet" href="style/global.css" type="text/css" />
<link rel="stylesheet" href="style/index.css" type="text/css" />
</head>

<body>
<div id="container"> 
  <!--Header BOF-->
  <div id="header-title">
    <div id="logo"><a href="./" title="Title">&nbsp;Website name</a></div>
    <div id="description">我的随身笔记本……</div>
    <li><a href="javascript:void(0);" title="Something">Something</a></li>
    <li><a href="javascript:void(0);" title="Something">Something</a></li>
    <li><a href="javascript:void(0);" title="Something">Something</a></li>
    <li><a href="javascript:void(0);" title="Something">Something</a></li>
  </div>
  <!--Header EOF--> 
  <!--Navigation BOF-->
  <div id="menu">
    <ul class="nav">
      <li><a href="javascript:void(0);" title="Navigation">Navigation</a></li>
      <li><a href="javascript:void(0);" title="Navigation">Navigation</a></li>
      <li><a href="javascript:void(0);" title="Navigation">Navigation</a></li>
      <li><a href="javascript:void(0);" title="Navigation">Navigation</a></li>
      <li><a href="javascript:void(0);" title="Navigation">Navigation</a></li>
      <li><a href="javascript:void(0);" title="Navigation">Navigation</a></li>
      <li><a href="javascript:void(0);" title="Navigation">Navigation</a></li>
      <li><a href="javascript:void(0);" title="Navigation">Navigation</a></li>
    </ul>
  </div>
  <!--Navigation EOF--> 
  <!--Main BOF-->
  <div id="content" class="clearfix"> 
    <!--List BOF-->
    <div id="postlist">
    <div class="post-home" id="post-1140">
        <div class="post-title">
          <h2><a href="javascript:void(0);" title="Title">Title</a></h2>
        </div>
        <div class="post-content">
          <p><strong>Content</strong><a href="javascript:void(0);" class="more-link">阅读全文</a></p>
        </div>
        <div class="post-messages">
          <div class="post-messages-navigation">2010年12月09日</div>
          <div class="post-messages-navigation">标签: <a href="javascript:void(0);">Navigation</a>,<a href="javascript:void(0);">Navigation</a></div>
          <div class="post-messages-navigation">分类目录:<a href="javascript:void(0);" title="Navigation">Navigation</a></div>
          <div class="post-messages-more"><a href="javascript:void(0);" title="">无人问津 </a></div>
        </div>
      </div>
    </div>
    <!--List EOF--> 
    <!--Sidebar BOF-->
    <div id="sidebar">
      <div class="widget_categories">
        <h3><span>Tags</span></h3>
        <ul>
          <li><a href="javascript:void(0);" title="Tag">Tag</a></li>
          <li><a href="javascript:void(0);" title="Tag">Tag</a></li>
          <li><a href="javascript:void(0);" title="Tag">Tag</a></li>
          <li><a href="javascript:void(0);" title="Tag">Tag</a></li>
          <li><a href="javascript:void(0);" title="Tag">Tag</a></li>
          <li><a href="javascript:void(0);" title="Tag">Tag</a></li>
        </ul>
      </div></div>
    <!--Sidebar EOF--> 
  </div>
  <!--Main EOF--> 
</div>
</body>
</html>
